<div class="resume-section {{if (even section.id) 'right' 'left'}} {{order}}">
  <div class="from time">{{section.from}}</div>
  <div class="to time">{{section.to}}</div>
  <img class="image" src={{section.image}} />
  <div class="text">
    <p>{{section.title}}</p>
    <p>{{section.description}}</p>
    <p>{{section.organization}}</p>
    <p>{{section.location}}</p>
  </div>
</div>
