<div id={{section.id}} class="resume-section {{if (even section.id) 'right' 'left'}} {{order}}">
  <div class="from time">{{section.from}}</div>
  <div class="to time">{{section.to}}</div>
  <img class="image" src={{section.image}} />
  <div class="text">
    <h3>{{section.title}}</h3>
    <p>{{section.description}}</p>
    <p><a class="url" href={{section.url}} target="_blank">{{section.organization}}</a></p>
    <p><a class="url" href="https://google.com/maps/search/{{section.location}}" target="_blank">{{section.location}}</a></p>
  </div>
</div>
