<div class="resume-wrapper background">
  <div class="resume-header">
    <h1>So, this is a more or less chronological list of my professional achievements, kind of like a resume. Feel free to read it, but if you really want to get to know me, we should probably meet up!</h1>
    <a class="btn">Get in touch</a>
  </div>
  <div class="resume">
    {{#each model.resumeSections as |resumeSection|}}
      {{#if (eq model.resumeSections.firstObject.id resumeSection.id)}}
        {{resume-section section=resumeSection order='first'}}
      {{else if (eq model.resumeSections.lastObject.id resumeSection.id)}}
        {{resume-section section=resumeSection order='last'}}
      {{else}}
        {{resume-section section=resumeSection order='middle'}}
      {{/if}}
    {{/each}}
  </div>
</div>
